link(rel='stylesheet' type='text/css' href='stylesheets/index.css')
form.form
  h2 SEMITAS
  p(type='Nombre:')
    input(placeholder='nombre del pan..')
  p(type='precio:')
    input(placeholder='costo..')
  p(type='Tipo de relleno:')
    input(placeholder='halea,miel,etc ..')
  p(type='Lugar:')
    input(placeholder='municipio donde la hacen..')  
  button agregar
  div
  
    span.fa.fa-envelope-o
    |  00104518@uca.edu.sv
